{% extends "index.html" %}

{% block content %}
<form action="/results" method="get">
    <h1>Welcome to Fortune teller! Fill out the form to determine your future 🙂</h1>
    <p>What's your name? <input type="text"></input></p>
    <p>How many siblings do you have? <input type="number"></input></p>
    <p>What's your favorite beverage? 
    <select name="beverages">
        <option value="none">Don't have one</option>
        <option value="coffee">Coffee</option>
        <option value="water">Water</option>
        <option value="soda">Soda</option>
        <option value="juice">Juice</option>
    </select>
    </p>

    <p>Gender:
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female<br>
    </p>
    <input type="submit"></input>
</form>


{% endblock %}